.demo__form {
  & > .demo__argumentContainer {
    margin-left: 0 !important;
    padding: 8px 0;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

.demo__argumentSet {
  border-left: 4px solid;
  border-color: var(--sidebarBorderColor);
}

.demo__argumentContainer {
  margin-left: 14px;
  width: 600px;
}

.demo__argument {
  display: flex;
  margin: 10px 0;
}

.demo__responseTitle {
  margin-bottom: 20px;
}

.demo__argumentLabel {
  font-family: $monoFamily;
  width: 40%;
  padding-top: 13px;
}

.demo__argumentInput {
  max-width: 60%;
}

.demo__argumentSetTitle {
  font-weight: 600;
  font-size: 20px;
}

.demo__responseError {
  color: var(--lozengeRedTextColor) !important;
}
