.demo__form {
  & > .demo__argumentContainer {
    margin-left: 0 !important;
    padding: 8px 0;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

.demo__argumentSet {
  border-left: 4px solid;
  border-color: var(--sidebarBorderColor);
}

.demo__argumentContainer {
  margin-left: 14px;
}

.demo__argument {
  display: flex;
  margin: 10px 0;
}

.demo__responseTitle {
  margin-bottom: 20px;
}

.demo__argumentLabel {
  font-family: $monoFamily;
  width: 30%;
  padding-top: 13px;
}

.demo__argumentInput {
  width: 70% !important;
}

.demo__arrayArgument {
  position: relative;
}

.demo__argumentSetTitle {
  font-weight: 600;
  font-size: 20px;
}

.demo__responseError {
  color: var(--lozengeRedTextColor) !important;
}

.demo__removeButton {
  position: absolute;
  right: 10px;
  top: 10px;

  background-image: image-url("icons/delete.svg");
}

.darkMode {
  .demo__removeButton {
    background-image: image-url("icons/dark/delete.svg");
  }
}

.demo__arrayInput {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
