.demo__form {
  & > .demo__argumentContainer {
    margin-left: 0 !important;
    padding: 8px 0;

    &:first-child {
      margin-top: 0 !important;
    }
  }
}

.demo__argumentSet {
  border-left: 4px solid;
  border-color: var(--sidebarBorderColor);
}

.demo__argumentContainer {
  margin-left: 14px;
}

.demo__argument {
  display: flex;
  margin: 10px 0;
}

.demo__responseTitle {
  margin-bottom: 20px;
}

.demo__argumentLabel {
  font-family: $monoFamily;
  width: 30%;
  padding-top: 13px;
}

.demo__argumentInput {
  width: 70% !important;
}

.demo__argumentSetTitle {
  font-weight: 600;
  font-size: 20px;
}

.demo__responseError {
  color: var(--lozengeRedTextColor) !important;
}

.demo__submitButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--sidebarBackgroundColor);
  font-size: 15px;
  padding: 12px 22px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid var(--sidebarBorderColor);
  border-radius: 4px;

  &:hover {
    background-color: var(--boxColor);
  }

  &.loading {
    background-image: image-url("spinner.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 25px;
    opacity: 1;
    color: transparent !important;
  }
}

.demo__addButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--sidebarBackgroundColor);
  font-size: 12px;
  padding: 6px 12px;
  font-weight: 600;
  line-height: 1;
  border: 1px solid var(--sidebarBorderColor);
  border-radius: 4px;

  &:hover {
    background-color: var(--boxColor);
  }
}

.darkMode {
  .demo__submitButton {
    color: var(--textColor);
  }
}

.demo__arrayInput {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}
